	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/02/2020 05:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-computer:before { content: "\f100"; }
.flaticon-paint:before { content: "\f101"; }
.flaticon-support:before { content: "\f102"; }
.flaticon-diamond:before { content: "\f103"; }
.flaticon-accept:before { content: "\f104"; }
.flaticon-support-1:before { content: "\f105"; }
.flaticon-download:before { content: "\f106"; }
.flaticon-support-2:before { content: "\f107"; }
.flaticon-lamp:before { content: "\f108"; }