	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/02/2018 04:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-money-13:before { content: "\f100"; }
.flaticon-money-12:before { content: "\f101"; }
.flaticon-money-11:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-arrows-1:before { content: "\f104"; }
.flaticon-school:before { content: "\f105"; }
.flaticon-signs:before { content: "\f106"; }
.flaticon-arrow-pointing-down:before { content: "\f107"; }
.flaticon-arrow-up:before { content: "\f108"; }
.flaticon-clock:before { content: "\f109"; }
.flaticon-tool:before { content: "\f10a"; }
.flaticon-envelope:before { content: "\f10b"; }
.flaticon-pointer:before { content: "\f10c"; }
.flaticon-arrows:before { content: "\f10d"; }
.flaticon-social:before { content: "\f10e"; }
.flaticon-technology:before { content: "\f10f"; }
.flaticon-target:before { content: "\f110"; }
.flaticon-money-10:before { content: "\f111"; }
.flaticon-money-9:before { content: "\f112"; }
.flaticon-transport:before { content: "\f113"; }
.flaticon-note:before { content: "\f114"; }
.flaticon-money-8:before { content: "\f115"; }
.flaticon-money-7:before { content: "\f116"; }
.flaticon-money-6:before { content: "\f117"; }
.flaticon-money-5:before { content: "\f118"; }
.flaticon-money-4:before { content: "\f119"; }
.flaticon-money-3:before { content: "\f11a"; }
.flaticon-money-2:before { content: "\f11b"; }
.flaticon-people:before { content: "\f11c"; }
.flaticon-money-1:before { content: "\f11d"; }
.flaticon-shapes:before { content: "\f11e"; }
.flaticon-money:before { content: "\f11f"; }
.flaticon-security:before { content: "\f120"; }