/* template-color */

.scroll-top{
  background-color: #3133d0;
}

.preloader-close{
	color: #3133d0;
}

.green-color .preloader-close{
	color: #17ab4b;
}

.red-color .preloader-close{
	color: #f4544e;
}

.handle-preloader{
	background: #3133d0;
}

.green-color .handle-preloader{
	background: #17ab4b;
}

.red-color .handle-preloader{
	background: #f4544e;
}

.header-top .top-inner .info li a:hover{
   color: #3133d0;
}

.header-top .top-inner .info li i{
	color: #3133d0;
}

.header-top .top-inner .search-box .form-group input:focus + button,
.header-top .top-inner .search-box .form-group button:hover{
  color: #3133d0;
}

.header-top .top-inner .social-links li a:hover{
  color: #3133d0;
}

.header-top .top-inner .support-box p a:hover{
  color: #3133d0;
}

.header-top .top-inner .support-box p i{
	color: #3133d0;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #3133d0;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
	border-top: 3px solid #3133d0;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #3133d0;
}

.main-menu .navigation > li > ul > li > a:hover:before{
	color: #3133d0;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #3133d0;
}

.main-header .menu-right-content .cart-box a span{
	background: #3133d0;
}

.thm-btn-one{
	border: 2px solid #3133d0;
}

.thm-btn-one i{
	background: #3133d0;
}

.thm-btn-one:before{
	background: #3133d0;
}

.thm-btn-one:hover{
	background: #3133d0;
}

.main-header .menu-right-content .cart-box a:hover{
  color: #3133d0;
}

.thm-btn:before{
	background: #3133d0;
}

.banner-section .owl-nav .owl-next:hover,
.banner-section .owl-nav .owl-prev:hover{
  color: #3133d0;
}

.banner-section .other-content{
	background: rgba(79,104,197,0.95);
}

.banner-section .other-content .mail-box i{
	background: #3133d0;
}

.banner-section .other-content .mail-box p a:hover{
  color: #3133d0;
}

.highlights-section .big-block .inner-box .location-box .zip-form .form-group input:focus + button{
  background: #3133d0;
}

.highlights-section .big-block .inner-box .location-box .zip-form .form-group input:focus{
  border-color: #3133d0 !important;
}

.highlights-section .small-block .inner-box .icon-box{
	color: #3133d0;
}

.highlights-section .small-block .inner-box:hover .icon-box{
	background: #3133d0;
}

.highlights-section .small-block .inner-box:before{
	border: 2px solid #3133d0;
}

.sec-title h6{
	color: #3133d0;
}

.content_block_1 .content-box .inner-box .right-column li i{
	background: #3133d0;
}

.service-section .image-layer:before{
	background: #3133d0;
}

.service-section .tab-btn-one .tab-btns li.active-btn:before{
  border-color: #3133d0;
}

.service-section .tab-btn-one .tab-btns li.active-btn:after{
  background: #3133d0;
}

.service-section .product-tab-btns li.active-btn{
	background: #3133d0;
}

.service-carousel .owl-nav .owl-prev:hover,
.service-carousel .owl-nav .owl-next:hover{
  color: #3133d0;
}

.content_block_2 .content-box .list-item li:before{
	color: #3133d0;
}

.other-text p a{
	color: #3133d0;
	border-bottom: 1px solid #3133d0;
}

.image_block_2 .image-box .image:after{
	border: 2px solid #3133d0;
}

.image_block_2 .image-box .image-content{
	background: #3133d0;
}

.progress-box .bar-inner{
	background: #3133d0;
}

.progress-box .bar-inner:before{
	background: #3133d0;
}

.progress-box .count-text{
	color: #3133d0;
}

.content_block_4 .content-box .inner-box a{
	color: #3133d0;
}

.content_block_4 .content-box .inner-box .step-list li:hover .icon-box{
  color: #3133d0;
}

.content_block_4 .content-box .inner-box .step-list li:before{
  border: 4px dotted #3133d0;
}

.project-block-one .inner-box .text a{
	background: #3133d0;
}

.nav-style-one .owl-nav .owl-prev:hover,
.nav-style-one .owl-nav .owl-next:hover{
  background: #3133d0 !important;
}

.project-section .other-text p a{
  color: #3133d0;
  border-bottom: 1px solid #3133d0;
}

.content_block_6 .content-box .estimate-form .form-group input:focus{
  border-color: #3133d0 !important;
}

.content_block_6 .content-box .estimate-form button{
	background: #3133d0;
}

.content_block_7 .content-box .other-text .share-option .list li a:hover{
  color: #3133d0;
}

.news-block-one .inner-box .image-box .post-date h6{
	background: #3133d0;
}

.news-block-one .inner-box .lower-content .category a:hover{
  color: #3133d0;
  border-color: #3133d0;
}

.news-block-one .inner-box .lower-content h4 a:hover{
  color: #3133d0;
}

.news-block-one .inner-box .lower-content .link a{
	color: #3133d0;
}

.news-block-one .inner-box .lower-content .link a:before{
	background: #3133d0;
}

.testimonial-section .client-thumb-outer .thumb-item .thumb-box:before{
	border: 2px solid #3133d0;
}

.testimonial-block-one .inner-box h4{
	color: #3133d0;
}

.testimonial-block-one .inner-box .author-box .designation{
	color: #3133d0;
}

.testimonial-block-one .inner-box .quote-box .quote{
	background: #3133d0;
}

.bg-color-1{
	background: #3133d0;
}

.subscribe-section .text h3 i{
	color: #3133d0;
}

.subscribe-section .subscribe-form .form-group button{
	color: #3133d0;
}

.scroll-top{
	background: #3133d0;
}

.main-header.style-two .header-top .top-inner .info li i{
  color: #17ab4b;
}

.main-header.style-two .header-top .top-inner .info li a:hover{
  color: #17ab4b;
}

.main-header.style-two .social-links .social-list li a:hover{
  color: #17ab4b;
}

.main-header.style-two .social-links .social-list li a span{
	color: #17ab4b;
}

.thm-btn.green-color:before{
  background: #17ab4b !important;
}

.main-header.style-two .main-menu .navigation > li.current > a, 
.main-header.style-two .main-menu .navigation > li:hover > a{
  color: #17ab4b;
}

.main-header.style-two .main-menu .navigation > li > ul, 
.main-header.style-two .main-menu .navigation > li > .megamenu{
  border-color: #17ab4b;
}

.main-header.style-two .main-menu .navigation > li > ul > li > a:hover, 
.main-header.style-two .main-menu .navigation > li > .megamenu li > a:hover{
  color: #17ab4b;
}

.main-header.style-two .main-menu .navigation > li > ul > li > a:hover:before{
  color: #17ab4b;
}

.main-header.style-two .main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #17ab4b;
}

.main-header .search-box-btn:hover{
  color: #17ab4b;
}

.main-header.style-two .menu-right-content .cart-box a:hover{
	color: #17ab4b;
}

.main-header.style-two .menu-right-content .cart-box a span{
  background: #17ab4b;
}

.banner-section.style-two .banner-content .support-box .btn-box a{
	border: 2px solid #17ab4b;
	color: #17ab4b;
}

.banner-section.style-two .banner-content .support-box .btn-box a:hover{
	background: #17ab4b;
}

.banner-section.style-two .banner-content .support-box .mail-box i{
	background: #17ab4b;
}

.banner-section.style-two .banner-content .support-box .mail-box a:hover{
  color: #17ab4b;
}

.banner-section.style-two .owl-nav .owl-next:hover, 
.banner-section.style-two .owl-nav .owl-prev:hover{
  background: #17ab4b;
}

.feature-block-one .inner-box .icon-box{
	color: #17ab4b;
}

.feature-block-one .inner-box:hover .icon-box{
  background: #17ab4b;
}

.green-color .feature-block-one .inner-box:before{
	border: 2px solid #17ab4b;
}

.green-color .sec-title h6{
  color: #17ab4b;
}

.green-color .content_block_8 .content-box .list li:before{
  color: #17ab4b;
}

.green-color .content_block_8 .content-box h4 span{
  color: #17ab4b;
}

.green-color .service-block-one .inner-box .lower-content .icon-box{
	color: #17ab4b;
}

.green-color .service-block-one .inner-box:hover .lower-content .icon-box{
	background: #17ab4b;
}

.green-color .service-block-one .inner-box .lower-content a:hover{
  color: #17ab4b;
}

.green-color .service-block-one .inner-box .lower-content .link a{
	color: #17ab4b;
}

.green-color .service-block-one .inner-box:hover .lower-content .link a:before{
	background: #17ab4b;
}

.green-color .service-style-two .tab-btn-box .tab-btns li.active-btn,
.green-color .service-style-two .tab-btn-box .tab-btns li:hover{
  background: #17ab4b;
  border-color: #17ab4b;
}

.green-color .facts-section .single-column .inner-box .content-box .icon-box{
	background: #17ab4b;
}

.green-color .facts-section .single-column .inner-box .content-box h6{
	color: #17ab4b;
}

.green-color .facts-section .single-column .inner-box .content-box a:hover{
  border-color: #17ab4b;
  background: #17ab4b;
}

.green-color .content_block_9 .content-box .icon-list li span{
	background: #17ab4b;
}

.content_block_9 .content-box .icon-list li:hover,
.content_block_9 .content-box .icon-list li.active-btn{
  border-color: #17ab4b;
  color: #17ab4b;
}

.green-color .theme-btn-three{
  color: #17ab4b;
}

.green-color .scroll-top{
	background: #17ab4b;
}

.green-color .project-block-two .inner-box .image-box:before{
	background: #17ab4b;
}

.green-color .project-block-two .inner-box .content-box .link a{
	color: #17ab4b;
}

.team-block-one .inner-box .social-links .social-list li a{
	background: #3b5998;
}

.team-block-one .inner-box .social-links .social-list li:nth-child(2) a{
	background: #55acee;
}

.team-block-one .inner-box .social-links .social-list li:last-child a{
	background: #dc4e41;
}

.green-color .team-block-one .inner-box .image-box:before{
	background: #17ab4b;
}

.green-color .team-block-one .inner-box .lower-content h4 a:hover{
  color: #17ab4b;
}

.green-color .team-block-one .inner-box .lower-content .designation{
	color: #17ab4b;
}

.green-color .content_block_6 .content-box .estimate-form .form-group input:focus{
	border-color: #17ab4b !important;
}

.green-color .content_block_6 .content-box .estimate-form button{
	background: #17ab4b;
}

.green-color .content_block_7 .content-box .other-text .share-option .list li a:hover{
	color: #17ab4b;
}

.green-color .testimonial-style-two .slider-pager .thumb-box li .thumb:before{
	background: #17ab4b;
}

.green-color .content_block_11 .content-box h4{
	color: #17ab4b;
}

.green-color .content_block_11 .content-box .author-info h4 span{
	color: #17ab4b;
}

.green-color .testimonial-style-two .bx-controls.bx-has-controls-direction a.bx-prev:hover,
.green-color .testimonial-style-two .bx-controls.bx-has-controls-direction a.bx-next:hover{
  background: #17ab4b;
}

.bg-color-4{
	background: #17ab4b;
}

.green-color .news-section.style-two .nav-style-one .owl-nav .owl-prev:hover, 
.green-color .news-section.style-two .nav-style-one .owl-nav .owl-next:hover{
  background: #17ab4b !important;
}

.green-color .news-block-one .inner-box .image-box .post-date h6{
	background: #17ab4b;
}

.green-color .news-block-one .inner-box .lower-content .category a:hover{
	color: #17ab4b;
	border-color: #17ab4b;
}

.green-color .news-block-one .inner-box .lower-content h4 a:hover{
	color: #17ab4b;
}

.green-color .news-block-one .inner-box .lower-content .link a{
	color: #17ab4b;
}

.green-color .news-block-one .inner-box .lower-content .link a:before{
	background: #17ab4b;
}

.green-color .appointment-section .inner-box .info-list li.btn-box a:hover{
	color: #17ab4b;
}

.green-color .footer-top-two .links-widget .links-list li a:hover{
  color: #17ab4b;
}

.green-color .footer-top-two .post-widget .post h6 a{
	color: #17ab4b;
	border-bottom: 1px solid #17ab4b;
}

.green-color .footer-top-two .post-widget .post h5 a:hover{
  color: #17ab4b;
}

.green-color .footer-top-two .location-widget .zip-form input:focus{
  border-color: #17ab4b !important;
}

.green-color .footer-top-two .location-widget .zip-form button{
	background: #17ab4b;
}

.green-color .footer-bottom-two .footer-nav li a:hover{
  color: #17ab4b;
}

.theme-btn-four{
	background: #f4544e;
}

.red-color .header-upper .info-list li i{
	color: #f4544e;
}

.red-color .main-menu .navigation > li.current > a, 
.red-color .main-menu .navigation > li:hover > a{
	color: #f4544e;
}

.red-color .main-menu .navigation > li > ul, 
.red-color .main-menu .navigation > li > .megamenu{
	border-top: 3px solid #f4544e;
}

.red-color .main-menu .navigation > li > ul > li > a:hover, 
.red-color .main-menu .navigation > li > .megamenu li > a:hover{
	color: #f4544e;
}

.red-color .main-menu .navigation > li > ul > li > a:hover:before{
	color: #f4544e;
}

.red-color .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #f4544e;
}

.main-header.style-three .menu-right-content .social-links li a{
	background: #3b5998;
}

.main-header.style-three .menu-right-content .social-links li:nth-child(2) a{
	background: #55acee;
}

.main-header.style-three .menu-right-content .social-links li:last-child a{
	background: #cd201f;
}

.red-color .main-header .menu-right-content .cart-box a span{
	background: #f4544e;
}

.red-color .main-header .menu-right-content .cart-box a:hover{
	color: #f4544e;
}

.red-color .main-header .search-box-btn:hover{
	color: #f4544e;
}

.banner-section.style-three .content-box h6{
	background: #f4544e;
}

.banner-section.style-three .banner-carousel .content-box .btn-box a:hover{
	color: #f4544e;
}

.banner-section.style-three .owl-nav .owl-next:hover, 
.banner-section.style-three .owl-nav .owl-prev:hover{
  background: #f4544e;
}

.red-color .banner-section.style-three .more-content .inner-box .icon-box{
	color: #f4544e;
}

.red-color .banner-section.style-three .more-content .inner-box .link a:hover{
	background: #f4544e;
}

.bg-color-5{
	background: #f4544e;
}

.red-color .feature-style-two .single-column .review-box .author-info h6{
	color: #f4544e;
}

.red-color .feature-style-two .single-column .review-box .icon-box:before{
	background: #f4544e;
}

.red-color .sec-title h6{
	color: #f4544e;
}

.red-color .service-block-two .inner-box .lower-content h4 a:hover{
  color: #f4544e;
}

.red-color .service-block-two .inner-box .lower-content .link a{
	color: #f4544e;
}

.red-color .service-block-two .inner-box .lower-content .link a:hover{
  border-color: #f4544e;
}

.red-color .project-block-three .inner-box .lower-content .icon-box{
	color: #f4544e;
}

.red-color .project-block-three .inner-box:hover .lower-content .icon-box{
  background: #f4544e;
}

.red-color .project-block-three .inner-box:hover .lower-content .text .link a{
	background: #f4544e;
}

.red-color .project-style-three .owl-nav .owl-prev:hover,
.red-color .project-style-three .owl-nav .owl-next:hover{
  background: #f4544e !important;
}

.red-color .works-block-one .inner-box .icon-box{
	color: #f4544e;
}

.red-color .works-block-one .inner-box:hover .count-text{
	color: #f4544e;
}

.red-color .scroll-top{
	background: #f4544e;
}

.red-color .content_block_13 .content-box{
	background: #f4544e;
}

.red-color .accordion-box .block .acc-btn.active .icon-outer{
	border-color: #f4544e;
	background: #f4544e;
}

.red-color .testimonial-block-two .inner-box:hover{
  border-color: #f4544e;
}

.red-color .testimonial-block-two .inner-box:hover .icon-box{
	background: #f4544e;
	border-color: #f4544e;
}

.red-color .testimonial-block-two .inner-box h4{
	color: #f4544e;
}

.red-color .testimonial-block-two .inner-box .author-info .designation{
	color: #f4544e;
}

.red-color .nav-style-one .owl-nav .owl-prev:hover, 
.red-color .nav-style-one .owl-nav .owl-next:hover{
  background: #f4544e !important;
}

.red-color .news-block-one .inner-box .image-box .post-date h6{
	background: #f4544e;
}

.red-color .news-block-one .inner-box .lower-content .category a:hover{
	color: #f4544e;
	border-color: #f4544e;
}

.red-color .news-block-one .inner-box .lower-content h4 a:hover{
	color: #f4544e;
}

.red-color .news-block-one .inner-box .lower-content .link a{
	color: #f4544e;
}

.red-color .news-block-one .inner-box .lower-content .link a:before{
	background: #f4544e;
}

.red-color .other-text p a{
	color: #f4544e;
	border-color: #f4544e;
}

.red-color .footer-top-three .logo-inner .call i{
	color: #f4544e;
}

.red-color .footer-top-three .subscribe-form .form-group input:focus{
  border-color: #f4544e !important;
}

.red-color .footer-top-three .subscribe-form .form-group .theme-btn-four.thm-btn:hover{
  color: #f4544e !important;
}

.red-color .footer-style-three .widget-section .links-widget .links-list li a:hover{
  color: #f4544e;
}

.red-color .footer-style-three .widget-section .post-widget .post h6 a{
	color: #f4544e;
	border-bottom: 1px solid #f4544e;
}

.red-color .footer-style-three .widget-section .post-widget .post h5 a:hover{
  color: #f4544e;
}

.red-color .footer-style-three .widget-section .subscribe-widget .form-group input:focus{
	border-color: #f4544e !important;
}

.red-color .footer-style-three .widget-section .subscribe-widget .form-group button:hover{
  color: #f4544e !important;
}

.red-color .footer-bottom-three .copyright p a{
  color: #f4544e;
}

.red-color .footer-bottom-three .footer-nav li a:hover{
  color: #f4544e;
}

.feature-style-two .single-column .review-box .icon-box:before{
	background: #3133d0;
}

.feature-style-two .upper-content .inner-box .single-item h2{
	color: #3133d0;
}

.feature-style-two .upper-content .inner-box .single-item .link a:hover:before{
	background: #3133d0;
}

.feature-style-two .upper-content .inner-box .single-item .link a i{
	color: #3133d0;
}

.award-section .bg-layer:before{
	background: #3133d0;
}

.award-block-one .inner-box:before{
	background: #3133d0;
}

.team-block-one .inner-box .lower-content h4 a:hover{
	color: #3133d0;
}

.team-block-one .inner-box .lower-content .designation{
	color: #3133d0;
}

.team-block-one .inner-box .image-box:before{
	background: #3133d0;
}

.page-links:before{
	background: #3133d0;
}

.chooseus-section .tabs-box .tab-buttons li.active-btn,
.chooseus-section .tabs-box .tab-buttons li:hover{
  background: #3133d0;
}

.chooseus-section .tabs-content .tabs-inner .content-box a{
	color: #3133d0;
}

.main-header.style-four .header-lower .menu-right-content .cart-box a:hover{
  background: #3133d0;
}

.main-header.style-four .header-lower .menu-right-content .btn-box i{
	color: #3133d0;
}

.main-header.style-four .header-lower .menu-right-content .btn-box a:hover{
  color: #3133d0;
}

.project-block-two .inner-box .image-box:before{
	background: #3133d0;
}

.project-block-two .inner-box .content-box .link a{
	color: #3133d0;
}

.pagination li a:hover,
.pagination li a.current{
  background: #3133d0;
}

.project-details-content .two-column .content-box .single-box .rating li{
	color: #3133d0;
}

.project-details-content .single-discription .title-inner h3 i{
	background: #3133d0;
}

.project-details-content .single-discription .text-inner:before{
	color: #3133d0;
}

.feedback-block-one .inner-box .video-btn a:hover{
  background: #f60202;
}

.feedback-block-one .inner-box .share-option .share-links li a:hover{
  color: #3133d0;
}

.testimonial-block-two .inner-box:hover .icon-box{
	background: #3133d0;
}

.testimonial-block-two .inner-box:hover{
	border-color: #3133d0;
}

.testimonial-block-two .inner-box h4{
	color: #3133d0;
}

.testimonial-block-two .inner-box .author-info .designation{
	color: #3133d0;
}

.faq-search .title-inner .icon-box{
	color: #3133d0;
}

.faq-search .search-inner .search-form .form-group input:focus{
  border-color: #3133d0 !important;
}

.faq-search .search-inner .search-form .form-group button{
	background: #3133d0;
}

.accordion-box .block .acc-btn.active .icon-outer{
	background: #3133d0;
	border-color: #3133d0;;
}

.faq-style-three .tab-btn-box .tab-btns li i{
	color: #3133d0;
}

.faq-style-three .tab-btn-box .tab-btns li.active-btn:after{
	color: #3133d0;
}

.ask-section .ask-form .form-group input:focus,
.ask-section .ask-form .form-group textarea:focus{
  border-color: #3133d0 !important;
}

.error-section .inner-box h1{
	color: #3133d0;
}

.content_block_15 .content-box .list-item li:before{
	color: #3133d0;
}

.service-block-three .inner-box .image-box{
	background: #3133d0;
}

.service-block-three .inner-box .lower-content h4 a:hover{
  color: #3133d0;
}

.service-block-one .inner-box .lower-content a:hover{
	color: #3133d0;
}

.service-block-one .inner-box:hover .lower-content .icon-box{
	background: #3133d0;
}

.service-block-one .inner-box:hover .lower-content .link a:before{
	background: #3133d0;
}

.service-block-one .inner-box .lower-content .link a{
	color: #3133d0;
}

.content_block_16 .content-box .inner-box .single-item .icon-box{
	color: #3133d0;
}

.pricing-block-one .pricing-table .table-header a{
	color: #3133d0;
}

.pricing-block-one .pricing-table .table-header a:hover{
  background: #3133d0;
}

.pricing-block-one .pricing-table .table-content .list li:before{
	color: #3133d0;
}

.service-sidebar .category-widget .category-list li a:after{
	background: #3133d0;
}

.service-sidebar .category-widget .category-list li a.current:before,
.service-sidebar .category-widget .category-list li a:hover:before{
	color: #3133d0;
}

.service-sidebar .banner-widget .content-box .icon-box{
	color: #3133d0;
}

.service-sidebar .banner-widget .form-inner .form-group input:focus,
.service-sidebar .banner-widget .form-inner .form-group textarea:focus{
	border: 1px solid #3133d0 !important;
}

.service-sidebar .banner-widget .form-inner .form-group .theme-btn-four{
	background: #3133d0;
}

.service-details-content .content-two .inner-box .single-item .icon-box{
	color: #3133d0;
	box-shadow: 3px 3px 0px 0px #3133d0;
}

.service-details-content .content-two .image-box .doc-content a{
	background: #3133d0;
}

.service-details-content .content-three .inner-box{
	background: #3133d0;
}

.blog-sidebar .sidebar-search .search-form .form-group input:focus{
  border-color: #3133d0 !important;
}

.blog-sidebar .sidebar-search .search-form .form-group button{
	background: #3133d0;
}

.blog-sidebar .category-widget .category-list li a:hover{
  background: #3133d0;
}

.blog-sidebar .post-widget .post .category a:hover{
  color: #3133d0;
  border-color: #3133d0;
}

.blog-sidebar .post-widget .post h5 a:hover{
  color: #3133d0;
}

.blog-sidebar .post-widget .owl-nav .owl-prev:hover,
.blog-sidebar .post-widget .owl-nav .owl-next:hover{
  color: #3133d0;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  background: #3133d0;
}

.blog-sidebar .archives-widget .widget-content .icon-box{
	background: #3133d0;
}

.news-block-one .inner-box .lower-content .post-date h6{
	background: #3133d0;
}

.sidebar-page-container .news-block-one .inner-box:before{
	border: 2px solid #3133d0;
}

.news-block-two .inner-box .lower-content .link a{
	color: #3133d0;
}

.news-block-two .inner-box .lower-content .link a:before{
	background: #3133d0;
}

.news-block-two .inner-box .lower-content .inner .category a:hover{
	color: #3133d0;
	border-color: #3133d0;
}

.news-block-two .inner-box .lower-content .inner h2 a:hover{
  color: #3133d0;
}

.news-block-two .inner-box .lower-content .info-box .share-box .social-links .social-box li a:hover{
  color: #3133d0;
}

.news-block-two .inner-box .lower-content .info-box .share-box:hover{
	color: #3133d0;
}

.blog-details-content .content-two blockquote{
	background: #3133d0;
}

.blog-details-content .post-share-option .post-tags li a:hover{
  color: #3133d0;
}

.blog-details-content .post-share-option .post-tags li h6 i{
	color: #3133d0;
}

.blog-details-content .post-share-option .social-links li:first-child a{
	background: #3b5999;
}

.blog-details-content .post-share-option .social-links li:nth-child(2) a{
	background: #55acee;
}

.blog-details-content .post-share-option .social-links li:nth-child(3) a{
	background: #dd4b39;
}

.blog-details-content .post-share-option .social-links li:last-child a{
	background: #0077b5;
}

.blog-details-content .post-nav h5 a:hover{
	color: #3133d0;
}

.blog-details-content .comment-box .comment .comment-info .post-date{
	color: #3133d0;
}

.blog-details-content .comment-box .comment .comment-inner .reply-btn:hover{
  color: #3133d0;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{
  border-color: #3133d0 !important;
}

.default-form .form-group button{
	background: #3133d0;
}

.service-section .tab-buttons-2 li.active-btn-2{
  background: #3133d0;
}

.shop-sidebar .sidebar-search .search-form .form-group button{
	background: #3133d0;
}

.shop-sidebar .sidebar-search .search-form .form-group input:focus{
  border-color: #3133d0 !important;
}

.shop-sidebar .category-widget .category-list li a:hover{
  color: #3133d0;
}

.range-slider .ui-slider .ui-slider-range{
	background: #3133d0;
}

.range-slider .ui-state-default,
.range-slider .ui-widget-content .ui-state-default{
	background: #3133d0;
}

.shop-sidebar .post-widget .post:hover .post-thumb{
	border-color: #3133d0;
}

.shop-sidebar .post-widget .post a:hover{
  color: #3133d0;
}

.shop-block-one .inner-box .image-box .info-list li a:hover{
  background: #3133d0;
}

.shop-block-one .inner-box .lower-content .rating-box li{
	color: #3133d0;
}

.shop-block-one .inner-box .lower-content a:hover{
  color: #3133d0;
}

.shop-block-one .inner-box:hover{
  border-color: #3133d0;
}

.product-details-content .product-details .title-box .customer-review .rating-box li{
	color: #3133d0;
}

.product-details-content .product-details .title-box .customer-review a:hover{
  color: #3133d0;
}

.product-details-content .product-details .text .category li a{
  color: #3133d0;
}

.product-details-content .product-details .product-info li:before{
	color: #3133d0;
}

.addto-cart-box button{
	background: #3133d0;
}

.addto-cart-box .like-btn a:hover{
  background: #3133d0;
}

.product-details-content .product-details .share-option .social-links li:first-child a{
	background: #3b5998;
}

.product-details-content .product-details .share-option .social-links li:nth-child(2) a{
	background: #55acee;
}

.product-details-content .product-details .share-option .social-links li:nth-child(3) a{
	background: #dc4e41;
}

.product-details-content .product-details .share-option .social-links li:last-child a{
	background: #cd201f;
}

.product-discription .tabs-content .single-review-box .rating-box li{
	color: #3133d0;
}

.product-discription .tabs-content .single-review-box h5 span{
	color: #3133d0;
}

.product-discription .tabs-content .comment-form .rating-box .rating li{
	color: #3133d0;
}

.cart-table tbody tr .prod-column .column-box .prod-thumb:hover{
  border-color: #3133d0;
}

.cart-table tbody tr .total-price{
	color: #3133d0;
}

.cart-table tbody tr .remove-btn:hover{
	color: #3133d0;
	border-color: #3133d0;
}

.cart-section .apply-coupon .form-group input:focus{
	border-color: #3133d0 !important;
}

.cart-section .apply-coupon .form-group button{
	color: #3133d0;
}

.cart-section .btn-box .cart-btn{
	color: #3133d0;
}

.cart-section .btn-box .cart-btn:hover{
  background: #3133d0;
  border-color: #3133d0;
}

.cart-section .btn-box button.theme-btn-four{
	background: #3133d0;
}

.myaccount-section .form-group input:focus{
	border-color: #3133d0 !important;
}

.myaccount-section .login-inner .other-option li:nth-child(2) a{
	background: #3b5998;
}

.myaccount-section .login-inner .other-option li:nth-child(3) a{
	background: #55acee;
}

.myaccount-section .login-inner .other-option li:last-child a{
	background: #dc4e41;
}

.myaccount-section .form-group button.theme-btn-four{
	background: #3133d0;
}

.myaccount-section .register-inner .text p span{
	color: #3133d0;
}

.contact-section .default-form .theme-btn-three{
	color: #3133d0;
}

.contact-info-section .single-info-box .inner-box .icon-box{
	color: #3133d0;
}

.contact-info-section .single-info-box .inner-box p a:hover{
  color: #3133d0;
}

.area-section .owl-nav .owl-prev:hover,
.area-section .owl-nav .owl-next:hover{
	color: #3133d0;
}

.checkout-page-section .information-inner .field-input input:focus{
  border-color: #3133d0 !important;
}

.checkout-page-section .order-summary .tax-box h5 span{
	color: #3133d0;
}

.checkout-page-section .order-summary .btn-box .theme-btn-four{
	background: #3133d0;
}

.checkout-page-section .accordion .payment-info .field-input input:focus{
  border-color: #3133d0 !important;
}

.checkout-page-section .accordion .payment-info .field-input .theme-btn-four{
	background: #3133d0;
}

.mobile-menu .navigation li > a:before{
	border-left: 5px solid #3133d0;
}

.green-color .mobile-menu .navigation li > a:before{
	border-left: 5px solid #17ab4b;
}

.red-color .mobile-menu .navigation li > a:before{
	border-left: 5px solid #f4544e;
}

.theme-btn-three{
	background: #0a267a;
}

.footer-social li a:hover{
	color: #3133d0;
}

.main-header.style-five{
	background: #0a267a;
}

.main-header.style-five .menu-right-content .restore-option a:hover{
 	color: #3133d0; 
}

.main-header.style-five .menu-right-content .social-links li a:hover{
	background: #3133d0;
}

.main-header.style-five .search-box-btn:hover{
  color: #3133d0;
}