
.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .pull-left{
  float: right !important;
}

.rtl .pull-right{
  float: left !important;
}

.rtl .main-menu .navigation > li{
  float: right;
}

.rtl .main-menu{
  float: right;
}

.rtl .cta-section{
  text-align: right;
}

.rtl .main-menu .navigation > li:first-child{
  margin-left: 15px !important;
  margin-right: 0px;
}

.rtl .main-menu .navigation > li:last-child{
  margin-right: 15px !important;
  margin-left: 0px;
}

.rtl .main-menu .navigation > li > ul > li > a, 
.rtl .main-menu .navigation > li > .megamenu li > a{
  text-align: right;
}

.rtl .main-menu .navigation li.dropdown .megamenu li h4{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
  right: inherit;
  left: 20px;
  content: "\f104";
}

.rtl .mobile-menu{
  text-align: right;
}

.rtl .mobile-menu .nav-logo{
  text-align: right;
}

.rtl .mobile-menu .navigation li > a:before{
  left: inherit;
  right: 0px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 6px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn.open{
  transform: rotate(-90deg);
}

.rtl .banner-carousel{
  direction: ltr;
}

.rtl .header-top .top-inner .info li{
  margin-right: 0px;
  margin-left: 37px;
  padding-left: 0px;
  padding-right: 23px;
}

.rtl .header-top .top-inner .info li:before{
  right: inherit;
  left: -20px;
}

.rtl .header-top .top-inner .info li i{
  left: inherit;
  right: 0px;
}

.rtl .header-top .top-inner .social-links li{
  margin-right: 0px;
  margin-left: 15px;
}

.rtl .header-top .top-inner .social-links{
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 21px;
  margin-left: 15px;
}

.rtl .header-top .top-inner .social-links:before{
  right: inherit;
  left: 0px;
}

.rtl .header-top .top-inner .dropdown-box .language{
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 20px;
  margin-left: 17px;
}

.rtl .header-top .top-inner .dropdown-box .language:before{
  right: inherit;
  left: 0px;
}

.rtl .header-top .top-inner .dropdown-box ul{
  left: inherit;
  right: 0px;
}

.rtl .header-top .top-inner .dropdown-box ul li{
  text-align: right;
}

.rtl .main-header .search-box-outer{
  margin-right: 0px;
  margin-left: 40px;
  float: right;
}

.rtl .main-header .menu-right-content .cart-box, 
.rtl .main-header .menu-right-content .btn-box{
  float: right;
}

.rtl .main-header .search-box-outer .dropdown-menu{
  left: 0px !important;
  right: inherit;
}

.rtl .main-header .menu-right-content .cart-box{
  margin-right: 0px;
  margin-left: 53px;
}

.rtl .main-header .search-box-outer:before{
  left: inherit;
  right: -24px;
}

.rtl .main-menu .navigation > li > ul > li > a:hover{
  padding-left: 0px;
  padding-right: 11px;
}

.rtl .main-menu .navigation > li > ul > li > a:before{
  left: inherit;
  right: 0px;
  content: "\f104";
}

.rtl .main-header.style-two .logo-box{
  left: inherit;
  right: 40px;
}

.rtl .main-header.style-two .social-links{
  right: inherit;
  left: 40px;
}

.rtl .main-header.style-two .social-links .social-list li:before{
  right: inherit;
  left: -16px;
}

.rtl .banner-section.style-two .banner-content{
  text-align: right;
}

.rtl .banner-section.style-two .banner-content .support-box .btn-box, 
.rtl .banner-section.style-two .banner-content .support-box .mail-box{
  float: right;
}

.rtl .banner-section.style-two .banner-content .support-box .btn-box{
  margin-right: 0px;
  margin-left: 20px;
}

.rtl .scroll-top{
  right: inherit;
  left: 60px;
}

.rtl .preloader-close{
  right: inherit;
  left: 0px;
}

.rtl .feature-block-one .inner-box{
  text-align: right;
  padding-left: 15px;
  padding-right: 30px;
}

.rtl .feature-block-one .inner-box .icon-box .shape{
  right: inherit;
  left: -37px;
}

.rtl .feature-block-one .inner-box h4:before{
  left: inherit;
  right: 0px;
}

.rtl .sec-title.text-left{
  text-align: right !important;
}

.rtl .sec-title.text-left h6{
  padding-left: 0px;
  padding-right: 70px;
}

.rtl .sec-title.text-left h6:before{
  left: inherit;
  right: 0px;
}

.rtl .about-style-two .image-box{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .content_block_8 .content-box{
  text-align: right;
}

.rtl .content_block_8 .content-box .list li{
  padding-left: 0px;
  padding-right: 30px;
}

.rtl .content_block_8 .content-box .list li:before{
  left: inherit;
  right: 0px;
}

.rtl .service-block-one .inner-box .lower-content{
  text-align: right;
}

.rtl .service-block-one .inner-box .lower-content .icon-box{
  right: inherit;
  left: 20px;
}

.rtl .service-block-one .inner-box .lower-content h4:before{
  left: inherit;
  right: 0px;
}

.rtl .content_block_10 .content-box{
  text-align: right;
}

.rtl .content_block_10 .content-box .tabs-inner .inner{
  padding-left: 0px;
  padding-right: 200px;
}

.rtl .content_block_10 .content-box .tabs-inner .inner .image-box{
  left: inherit;
  right: 0px;
}

.rtl .team-section .sec-title .btn-box{
  right: inherit;
  left: 0px;
}

.rtl .team-block-one .inner-box .social-links{
  right: inherit;
  left: 20px;
}

.rtl .team-block-one .inner-box .image-box{
  margin-right: 29px;
}

.rtl .team-block-one .inner-box .lower-content{
  text-align: right;
}

.rtl .content_block_5 .content-box{
  text-align: right;
}

.rtl .content_block_5 .content-box .list-item li{
  padding-left: 0px;
  padding-right: 30px;
}

.rtl .content_block_5 .content-box .list-item li:before{
  left: inherit;
  right: 0px;
}

.rtl .content_block_5 .content-box .shape{
  left: inherit;
  right: 0px;
  transform: rotate(180deg);
}

.rtl .nice-select{
  text-align: right !important;
}

.rtl .nice-select:after{
  right: inherit;
  left: 7px;
}

.rtl .testimonial-style-two .slider-pager{
  margin-right: 0px;
  margin-left: 40px;
}

.rtl .content_block_11 .content-box{
  text-align: right;
}

.rtl .testimonial-style-two .bx-controls.bx-has-controls-direction{
  left: 35%;
}

.rtl .clients-carousel{
  direction: ltr;
}

.rtl .three-item-carousel{
  direction: ltr;
}

.rtl .news-section .owl-nav{
  right: inherit;
  left: 0px;
}

.rtl .news-block-one .inner-box .image-box .post-date{
  left: inherit;
  right: 30px;
}

.rtl .news-block-one .inner-box{
  text-align: right;
}

.rtl .news-block-one .inner-box .lower-content .link a{
  padding-left: 0px;
  padding-right: 10px;
}

.rtl .news-block-one .inner-box .lower-content .link a:before{
  left: inherit;
  right: 0px;
}

.rtl .appointment-section .inner-box .text{
  text-align: right;
}

.rtl .appointment-section .inner-box .info-list li{
  float: right;
}

.rtl .appointment-section .inner-box .info-list li{
  margin-right: 0px;
  margin-left: 90px;
}

.rtl .appointment-section .inner-box .info-list li:before{
  left: inherit;
  right: -40px;
}

.rtl .footer-top-two{
  text-align: right;
}

.rtl .footer-top-two .links-widget .links-list li{
  float: right;
}

.rtl .footer-bottom-two .footer-nav li:before{
  right: inherit;
  left: -15px;
}