@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600,600i,700');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700');
/*--
font-family: 'Poppins', sans-serif;
--*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700');
html , body { font-family: 'Poppins', serif; font-weight: 7000; color: #000; font-size: 16px; overflow-x:hidden; }




.owl-nav{ display: none;}
.owl-dots{ display: none;}
.blog-masthead{position:fixed; z-index: 999; width: 100%; padding: 20px 0px; }
.warp-alt .blog-masthead{ background: #000; padding: 10px 0px; }
.warp-alt .navbar-brand{ padding: 0px; margin: 0px;}


@media (min-width: 1200px){
    .container-auto {
    max-width: 1600px; margin: 0 auto; padding: 0px 15px;
}}

.navbar{padding:0px;}
.nav-link{ color: #fff!important; line-height: 45px; min-height: 45px; padding: 0px 30px!important;}
.btn-purchase{ border-radius: 30px; min-width: 210px; text-align: center; display: inline-block; height: 56px; padding: 0px 20px;
    background: #fec727; color: #fff;border:2px solid #fec727; line-height: 51px;}

.btn-purchase:hover{ background: #fff; color:#b01307!important; }


.banner{ min-height: 1040px; position: relative; background-image: url(../images/banner.jpg); 
    background-position: center center; background-repeat: no-repeat; background-size: cover; padding: 200px 0px 50px;}

    .banner-text h1{ padding-top: 150px; font-size: 72px; color: #fff; line-height: 90px; font-weight: 700;
    margin-bottom: 70px; }

    .banner .gal-col { position: relative;
        padding-top: 30px;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        column-gap: 10px;
    }

    @media (max-width: 500px){
        .banner .gal-col {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}}

.view_btn_{ border-radius: 30px; min-width: 210px; text-align: center; display: inline-block; height: 56px; padding: 0px 20px;
background: transparent; color: #fec727;border:2px solid #fec727; line-height: 56px;}
.view_btn_:hover{ background: #fec727; color: #fff; text-decoration: none;}
.image-ban{    position: absolute;
    z-index: 10;
    width: 100%;}
.gal-col img.in{ margin-bottom: 20px; margin-left: 60px; margin-top: 5px;}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

img.vert-move-big {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
img.vert-move-big  {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

#loading {
    -webkit-animation: rotation .8s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.price{ position: absolute; top: 40%;
    left: 44%; border-radius: 50%;}
    .price img{     position: relative;
        box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
        background: transparent;
        -webkit-animation: pulse 1.25s infinite cubic-bezier(0.0, 0, 0, .5);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.0, 0, 0, .5);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.0, 0, 0, .5);
	animation: pulse 1.25s infinite cubic-bezier(0.0, 0, 0, .5);
    }
    


@-webkit-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@-moz-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@-ms-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

    
.sec-title {
    position: relative;
    display: block;
    margin-top: -6px;
    padding-bottom: 71px;
}
.sec-title .title {
    position: relative;
    display: block;
    color: #222222;
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
    margin: 0 0 13px;
    text-transform:uppercase;
 
    z-index: 1;
}
.sec-title .title span{
    display: inline-block;
    color: #fec727;
    animation: fa-spin 5s ease infinite;
}
.sec-title p{
    color: #83888d;
    font-size: 18px;
    line-height: 28px; padding:0px 500px ;
    font-weight: 500;

    margin: 0; font-family: 'Poppins', sans-serif;
}

/*** 
=====================================================
	Main demo Area style
=====================================================
***/
.main-demo-area:before{ position: absolute; content:url(../images/bg.png) ; top:0; left: 0;}
.main-demo-area{
    position: relative; background: url(); 
    display: block;
    padding-top: 100px;
    padding-bottom: 35px;
}

.main-demo-area .row [class*=col-] {
    padding-left: 35px;
    padding-right: 35px;
}

.single-demo-box{
    position: relative;
    display: block;
    margin-bottom: 78px;
}
.single-demo-box .img-holder{
    position: relative;
    display: block;
    box-shadow: 0px 5px 15px 2px #dddddd;
    transition: all 0.3s ease-in-out 0.1s;
    transform: translateY(0px);
}
.single-demo-box:hover .img-holder{
    -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15); 
    transform:translateY(-10px);
}
.single-demo-box .img-holder a{
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}
.single-demo-box .img-holder a::before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,10) 100%);
    transform: skewX(-25deg);
}
.single-demo-box:hover .img-holder a::before{
	-webkit-animation: shine 1.5s;
	animation: shine 1.5s;    
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.single-demo-box .img-holder a img{
    width: 100%;
    transition: all .4s ease; 
}


.single-demo-box .title-holder{
    position: relative;
    display: block;
    text-align: center;
    padding-top: 35px;
}
.single-demo-box .title-holder h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}
.single-demo-box .title-holder h3 a{
    color: #222;
    transition: all 500ms ease;
}
.single-demo-box .title-holder h3 a:hover{
    color: #fec727;    
}

.section-two{    padding-top: 100px;
    padding-bottom: 70px;position: relative; background-image: url(../images/section-2.html); 
    background-position: center; background-repeat: no-repeat; background-size: cover; }
.section-two .sec-title p{ padding: 0px 100px;}
.section-two .sec-title p{ color: #222222;}
.section-two .sec-title p span{ color: #fec727;}
.section-two img{ margin-bottom: 30px;}







.carousel-section .content-inner{ min-height: 242px; padding: 60px 70px 35px 56px; border-right: 1px solid #f3f1f1; border-left: 1px solid #f3f1f1; border-bottom:2px solid #f3f1f1;}
.carousel-section .icon{ font-size: 60px; line-height: 60px; color: #F13729; float: left;}
.content{ margin-left: 80px;}
.carousel-section .content-inner h4{ padding-bottom: 5px;  font-weight: 700; font-size: 24px; line-height: 32px; color: #222;}
.carousel-section .content-inner p{color: #83888d; line-height: 26px; font-size: 18px;  font-family: 'Poppins', sans-serif;}

.feature-icon{ position: relative; padding: 100px 0px 70px;}
.feature-icon .sec-title p{ padding: 0px 200px;}
.feature-icon .icon{ font-size: 60px; line-height: 60px; color: #F13729; margin-bottom: 30px; display: block;}
.feature-block-two:hover .icon{color: #fff;}
.feature-icon h4{ font-size: 24px; line-height: 32px; color: #222; margin-bottom: 15px;}
.feature-block-two:hover h4{color: #fff;}
.feature-icon .text{color: #83888d; line-height: 26px; font-size: 18px;  font-family: 'Poppins', sans-serif; font-family: 'Poppins', sans-serif;}
.feature-block-two { margin-bottom: 40px; padding:14% 16%; padding: 10% 12%; min-height: 342px; border: 2px solid #f3f1f1; border-radius: 5px; transition: .5s ease-in-out;}
.feature-block-two:hover .text{color: #fff;}
.feature-block-two:hover{ background: #F13729; color: #fff!important; border: 2px solid #F13729;}



/*** 
=====================================================
	Main demo Area style
=====================================================
***/
.footer-area{
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 226px 0 235px;
    background-color: #003a4f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.footer-area .footer-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 170%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .10;
}

@-webkit-keyframes banner-animate {
    0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    }

    50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    }

    100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    }
}

@keyframes banner-animate {
    0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    }

    50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    }

    100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    }
}
.banner-animate {
    animation-name: banner-animate; 
    animation-duration: 70s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: banner-animate; 
    -webkit-animation-duration: 70s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
	
	-moz-animation-name: banner-animate; 
    -moz-animation-duration: 70s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
	
	-ms-animation-name: banner-animate; 
    -ms-animation-duration: 70s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	
	-o-animation-name: banner-animate; 
    -o-animation-duration: 70s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.footer-area .inner-content{
    position: relative;
    display: block;    
}
.footer-area .inner-content .big-title{
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 72px;
    line-height: 90px;
    font-weight: 700;
    text-transform: capitalize;
}
.footer-area .inner-content p span{ color: #fec727;}
.footer-area .inner-content p{
    color: #ffffff;
    font-size: 18px;
    line-height: 28px; font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 15px 0 32px; padding:0px 100px;
}
.footer-area a{ color: #fff; min-width: 220px; text-decoration: none; font-weight: 500; transition: .3s ease-in-out;}
.footer-area a:hover{ background: #fff; color:#b01307; }






#button {
    display: inline-block;
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000; box-shadow:0px 0px 12px 0px rgba(1,1,1,.05)
  }

  #button:hover {
    cursor: pointer;
    background-color: #b41307; color: #fff!important;
  }
 
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  .fa-chevron-up{ padding-top: 16px; color: #b41307;}
  #button:hover .fa-chevron-up{ color: #fff;}


  
@media (max-width: 1200px){
    .sec-title p{ padding: 0px!important;}
    .gal-col img.in{ width: 125%; margin-left: 0px;}
    .vert-move-big { width: 327%;}
    .banner-text h1{ padding: 0px 0px 40px 0px;}
    .banner{ padding: 190px 0px 50px;}
    .footer-area .inner-content p{ padding: 0px;}
}
@media (max-width: 992px){
    .gal-col img.in{ width: 80%; margin-left: 0px;}
    .footer-area .inner-content .big-title{ font-size: 50px; line-height: 70px;}
    .vert-move-big { width: 200%;}
    .banner-text h1{ padding: 0px 0px 70px 0px; text-align: center; font-size: 40px; line-height: 60px;}
    .navbar-collapse{ background: #fff; }
    .nav-link{color: #222!important; padding:10px 30px!important; border-bottom: 1px solid #f3f1f1;}

    .navbar-toggler{ outline: none!important; } .fas.fa-bars{color: #fff; }
    .btn-purchase:hover{ background: #b01307!important; color:#fff!important; }
    .footer-area .btn-purchase{ margin: 10px!important; background: transparent;}
}

@media (max-width: 768px){
    .gal-col img.in{ width: 40%; margin-left: 0px; margin-top: 140px;}
    .vert-move-big { display: none;}.price{ left: 26%;;}
    .footer-area .inner-content .big-title{ font-size: 35px; line-height: 46px;}
    .banner-text h1{font-size: 35px; line-height: 46px;}
    .sec-title .title{font-size: 35px; line-height: 46px;}
    .banner{ min-height: 850px;}
    .warp-alt .blog-masthead{ padding-bottom: 10px; 
}
}
@media (max-width: 500px){
.carousel-section .content-inner{padding: 41px 25px 35px 24px}}
.navbar-toggler{ margin-left: auto;}
.container-auto{ padding: 0px 15px;}

.img_side_{ float: left; display:block; margin-left:  auto;}
.img_side_ img{ margin: 8px;}
.mg_top{position: relative; margin-top: 60px; margin-right: 10px;}